
.btn {
&:link,
&:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 40px;
	display: inline-block;
	border-radius: 100px;
	transition: all 0.2;
	position: relative;
}

&:hover {
	transform: translateY(-1px);
	box-shadow: 0 .5px 1rem rgba($color-black, 0.2);

	&::after {
		transform: scaleX(1.3) scaleY(1.2);
		opacity: 0;
	}
}

&:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba($color-black, 0.2);
}

&-white {
	background-color: $color-white;
	color: $color-grey-dark;

	&::after {
		background-color: $color-white;
	}
}

&::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

	transition: all 0.4s;
}

&-animated {
	animation: moveInBottom 0.5s ease-out .75s;
	animation-fill-mode: backwards;
}
}